<div class="classification-viewer">

  <div class="header">
    <h1>Completed Classifications</h1>
    <p class="status">{{statusMessage}}</p>
    <p ng-show="currentClassificationId">Id: {{isLoading ? '' : currentClassificationId}}</p>
    <p ng-show="currentClassificationId">Number of annotations: {{isLoading ? '' : annotations.length}}</p>
  </div>

  <div class="classification-list">
      <a ng-show="(page > 1)" href={{'/#'+meta.classifications.previous_href}}><<< Prev</a>
      <div class="classification-item" ng-class="{'is-selected': currentClassificationId == classification.id}" ng-repeat="classification in completedClassifications">
        <a ng-mouseup="loadClassification(classification.id)">
          {{classification.id}}
        </a>
      </div>
      <a ng-show="(page < pageCount)" href={{'/#'+meta.classifications.next_href}}>Next >>></a>
      <p class="page-indicator" ng-show="!isLoading">{{'Page ' + page + ' of ' + pageCount}}</p>
  </div>

  <nav-tool></nav-tool>

  <svg
    class="log annotate"
    svg-pan-zoom ng-class="{'annotating': isAnnotating}">
    <g class="pan-zoom">
      <g class="rotate-container" ng-attr-transform="{{ 'rotate(' + rotation + ')'}}">
        <g
          class="animated image-wrapper"
          ng-show="!isLoading"
          ng-class="{
            'isLoading': isLoading,
            'fadeIn': !isLoading,
            'fadeOut': isLoading
          }">

          <!-- subject image -->
          <g class="image">
            <image subject class="subject"></image>
            <image
              xlink:href="{{image_src}}"
              ng-attr-onload="svg.reset();"
              width="1300"
              height="1893">
            </image>
          </g>

          <!-- annotation/transcriptions -->
          <g annotation-review ng-repeat="a in annotations"></g>


          <!-- show loading spinner -->
          <span us-spinner ng-show="isLoading"></span>

        </g>
      </g>
    </g>
  </svg>

</div>
