<div class="annotate-container">
    <div class="row" ng-if="subject === null">
        <p>There aren't any log pages to annotate on this ship. <a ui-sref="transcribe({subject_set_id: subject_set_id})">Transcribe annotations</a>, or find <a ui-sref="ships-list">another ship</a>?</p>
    </div>

    <div class="row" ng-if="subject !== null">
        <div class="transcribe-col col-sm-12">
            <div class="log-container">
                <span
                    us-spinner
                    ng-show="isLoading"
                    class="animated"
                    ng-class="{
                        'isLoading': isLoading,
                        'fadeIn': isLoading,
                        'fadeOut': !isLoading
                    }"
                ></span>

                <svg class="log annotate" svg-pan-zoom ng-class="{'annotating': isAnnotating}">
                    <g class="pan-zoom">
                        <g class="rotate-container" ng-attr-transform="{{ 'rotate(' + rotation + ')'}}">
                            <g
                                class="animated image-wrapper"
                                ng-show="!isLoading"
                                ng-class="{
                                    'isLoading': isLoading,
                                    'fadeIn': !isLoading,
                                    'fadeOut': isLoading
                                }"
                            >
                                <g class="image">
                                    <image subject class="subject"></image>
                                    <image
                                        xlink:href="{{ trustedSubjectImage }}"
                                        ng-attr-onload="{{ loadHandler }} svg.reset();"
                                        width="1300"
                                        height="1893"
                                    ></image>
                                </g>

                                <g grid ng-if="!isLoading"></g>
                                <g annotations ng-if="!isLoading"></g>

                            </g>
                        </g>
                    </g>
                </svg>

                <div class="guides" ng-if="showGuides"></div>

                <!-- navigation tools -->
                <nav-tool></nav-tool>

            </div>
        </div>
    </div>


    <div class="workflow-col">
        <span class="workflow-title">Annotation</span>

        <div
            class="questions-panel"
            annotate-questions="questions"
            ng-show="!questionsComplete && questions && !isLoading"
        >
        </div>

        <div ng-show="questionsComplete">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button class="btn btn-orange btn-finish" ng-click="saveSubject()">
                        Annotate another page
                    </button>
                    <button class="btn btn-teal btn-finish" ng-click="saveSubjectAndTranscribe()">
                        Start transcribing
                    </button>
                </div>
            </div>

            <p>Feel free to mark any other data using the tools below.</p>
            <ul
                class="nav nav-pills nav-stacked"
                transcribe-tools
            ></ul>
        </div>

        <hr>

        <div class="page-nav" ng-controller="PageNavController">
          <h4>Page Navigation</h4>
          <button ng-click="prevPage()" ng-disabled="prevDisabled">PREV</button>
          <button ng-click="nextPage()" ng-disabled="nextDisabled">NEXT</button>
        </div>

        <hr>

        <div ng-controller="TutorialController">
          Need help? <button class="tutorial-btn" ng-click="launchTutorial()">Launch tutorial</button>
        </div>
    </div>

</div>
