<h1>Frequently asked questions</h1>

<h3>What is the Zooniverse?</h3>
<p>Old Weather is just one project in the Zooniverse, a network of 'citizen science' projects that share the goal of producing research that could only be done with your help. The original Zooniverse project was <a href="http://www.galaxyzoo.org" target="_blank">Galaxy Zoo</a>, and until now we've stuck to astronomy but Old Weather is the first of what should be many projects from all areas of interest.</p>

<h3>What happens if I make a mistake?</h3>
<p>Don't worry, several people look at each page and this allows us to correct occasional slips of the keyboard.</p>

<h3>What happens if the person who wrote the logbook makes a mistake?</h3>
<p>Even the most conscientious sailor makes a mistake every now and then. The goal of Old Weather is to transcribe what's on the logs, though, so please faithfully record what you see. We will go through the results and clean up obvious mistakes, like large jumps in temperature or a ship that suddenly moves from one end of the Earth to the other, in a later stage of the project.</p>

<h3>The map position is wrong. What do I do now?</h3>
<p>This probably an error in the logbook; for example, East and West sometimes get transposed. Don't worry about it - the maps are just there for fun.</p>

<h3>How do you know the weather information is accurate?</h3>
<p>Previous academic work has shown the reliability of ship's logs in recording weather information, so we can be fairly confident that through Old Weather we're gaining a sensible picture of what the weather really was like.</p>

<h3>What happens to the information that I submit?</h3>
<p>The climate data will be processed by our team at the Met Office and NOAA and eventually contributed to international databases of historical weather records. These are used to test our computer models of the climate - leading us from the weather's past to understanding the future of the climate.</p>

<h3>What does am I/am I not the captain of a ship?</h3>
<p>The ranks are assigned based on the contributions made to a particular ship's voyage. The more you do, the higher the rank you'll achieve. If you take a break, though, you can be overtaken by others so if you'll need to look sharp if you want to stay Captain!</p>

<h3>What information is useful in the 'events' column?</h3>
<p>The short answer is that you should include anything that interests you! However, there are a few things that we'd particularly like you to look out for. Any interaction with other items - other ships, battle debris, icebergs or sea ice, animals, aircraft, land (we'd particularly like any mentions of volcanoes, please). Do also include any mentions of people on board; at some point we hope to tie the Old Weather results to a list of the crew. Any mention of weather in this column should be included too. On the other hand, everyday events can be excluded - for example, reports on the ships course and speed, coaling, watering, cleaning ship, drills and so on can be taken for granted.</p>
