<div class="pre-content-section" ng-if="!loading">
    <div class="container">
        <div class="ship-basicinfo row">

            <dl class="col-xs-12" ng-show="!shipInfo">
                <dt>Voyage</dt>
                <dd>{{ ::ship.display_name }}</dd>
            </dl>

            <dl class="col-xs-12 col-sm-6 col-md-3 datum -name" ng-show="shipInfo">
                <dt>Ship Name</dt>
                <dd>{{ ::shipInfo.fullName }}</dd>
            </dl>

            <dl class="col-xs-6 col-sm-3 col-md-3 datum" ng-show="shipInfo">
                <dt>Class</dt>
                <dd>{{ ::shipInfo.shipClass }}</dd>
            </dl>

            <dl class="col-xs-6 col-sm-3 col-md-2 datum" ng-show="shipInfo">
                <dt>Tonnage</dt>
                <dd>{{ ::shipInfo.tonnage }}</dd>
            </dl>

            <div class="col-xs-12 col-sm-12 col-md-4 buttons">
                <a href="#" class="btn btn-skeleton teal">Annotate</a>
                <a href="#" class="btn btn-skeleton teal">Transcribe</a>
            </div>

        </div>
    </div>
</div>
