<div us-spinner ng-if="loading"></div>

<div class="pre-content-section" ng-if="!loading">
    <div class="container">
        <p>These are the ships of <strong>oldWeather</strong>. Find a vessel and start processing those log books!</p>
    </div>
</div>

<div class="content-section" ng-if="!loading">
    <div class="container">

        <div ng-show="!loading" class="animated fadeIn">
            <div ships-list>
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>
                <div
                    class="item"
                    ng-repeat="(key, ship) in ::ships track by key | orderBy:columnSort.key:columnSort.reverse"
                    style="background-image: url('{{ ::ship.metadata.imageUrl }}')"
                    ng-init="ship.hover = false"
                    ng-mouseenter="ship.hover = true"
                    ng-mouseleave="ship.hover = false"
                >
                    <div class="content">
                        <h3>{{ ship.display_name }}</h3>
                    </div>

                    <div class="cover">
                        <div
                            class="buttons"
                            ng-show="ship.hover"
                        >
                            <a ui-sref="annotate({subject_set_id: ship.id})" class="btn btn-teal">Annotate</a>
                            <a ui-sref="transcribe({subject_set_id: ship.id})" class="btn btn-teal">Transcribe</a>
                            <a ui-sref="ships-detail({id: ship.id})" class="btn btn-skeleton teal">More info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
