<span
    us-spinner
    ng-show="!project"
    class="animated"
    ng-class="{
        'isLoading': !project,
        'fadeIn': !project,
        'fadeOut': project
    }"
></span>

<div
    ng-show="project"
    class="animated"
    ng-class="{
        'isLoading': !project,
        'fadeIn': project,
        'fadeOut': !project
    }"
>
    <div class="page-header">
        <h1>Welcome to Old Weather</h1>
    </div>
    <p ng-bind="project.description"></p>

    <p ng-bind="project.introduction"></p>
</div>
