<div class="modal-header">
    <h4 class="modal-title">Sign up for a new Zooniverse account</h4>
</div>
<div class="modal-body">
    <form ng-submit="register(form)">
        <div class="form-group" ng-class="{'has-error': registerError}">
            <input type="text" class="form-control" ng-model="form.display_name" placeholder="User name">
        </div>
        <div class="form-group" ng-class="{'has-error': registerError}">
            <input type="password" class="form-control" ng-model="form.display_name" placeholder="Password">
        </div>
        <div class="form-group" ng-class="{'has-error': registerError}">
            <input type="password" class="form-control" ng-model="form.display_name" placeholder="Confirm password">
        </div>
        <div class="form-group" ng-class="{'has-error': registerError}">
            <input type="email" class="form-control" ng-model="form.display_name" placeholder="Email address">
        </div>
        <div class="form-group" ng-class="{'has-error': registerError}">
            <input type="text" class="form-control" ng-model="form.display_name" placeholder="Real name">
            <span class="help-block">We’ll use this to give you credit in scientific papers, posters, etc</span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> You agree to our <a href="http://preview.zooniverse.org/panoptes/#/privacy" target="_blank">privacy policy</a>.
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> It’s okay to send me email every once in a while.
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> I’d like to help test new projects, and be emailed when they’re available.
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Register</button>
    </form>
</div>
