<div class="panel-heading">
    <div
        ng-repeat="(key, task) in tasks"
        ng-show="key === activeTask"
    >
        {{ task.question }}
        {{ task.instruction }}
    </div>
</div>
<div class="panel-body">
    <div
        ng-repeat="(key, task) in tasks"
        ng-show="key === activeTask"
    >
        <div class="btn-group btn-group-justified">
            <div class="btn-group" ng-if="!task.instruction" ng-repeat="answer in task.answers">
                <button
                    class="btn btn-default"
                    ng-click="confirm(answer.next)"
                >
                    {{ answer.label }}
                </button>
            </div>

            <div class="btn-group" ng-if="task.instruction">
                <button
                    class="btn btn-default"
                    ng-click="confirm(task.next)"
                >
                    done
                </button>
            </div>
        </div>
    </div>

    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <button class="btn btn-default btn-xs" ng-click="skipQuestions()">Skip all questions</button>
        </div>
    </div>
</div>
