<li
    ng-repeat="tool in tools"
    ng-class="{'active': tool.active}"
>
    <a
        href=""
        ng-click="toggleTool($index)"
        ng-mouseenter="toggleHover($index)"
        ng-mouseleave="toggleHover($index)"
    >
        <span class="glyphicon glyphicon-{{ ::tool.icon }}" aria-hidden="true"></span>
        {{ ::tool.title }}
        <span
            class="glyphicon glyphicon-question-sign"
            ng-show="tool.tooltip && tool.hover"
            tooltip="{{ ::tool.tooltip }}"
            tooltip-placement="right"
            tooltip-append-to-body="true"
            ></span>
    </a>
</li>
<li>
    <a
        href=""
        ng-click="newSubject()"
    >
        DONE
    </a>

</li>
