<div class="container classification-viewer">
  <h1>Classification Viewer</h1>
  <p>Requested classification id: <b>{{classification_id}}</b></p>
  <div class="content">
    <svg class="log annotate" svg-pan-zoom ng-class="{'annotating': isAnnotating}">
      <g class="pan-zoom">
        <g class="rotate-container" ng-attr-transform="{{ 'rotate(' + rotation + ')'}}">
          <g
            class="animated image-wrapper"
            ng-show="!isLoading"
            ng-class="{
              'isLoading': isLoading,
              'fadeIn': !isLoading,
              'fadeOut': isLoading
            }">
            <g class="image">
              <image subject class="subject"></image>
              <image
                xlink:href="{{ image_src }}"
                ng-attr-onload="{{ loadHandler }} svg.reset();"
                width="1300"
                height="1893">
              </image>
            </g>

            <g
              classification
              ng-repeat="annotation in data"
              ng-mousedown="displayContent($event)">
              <rect
                x="{{annotation.x}}"
                y="{{annotation.y}}"
                width="{{annotation.width}}"
                height="{{annotation.height}}"
                style="fill:none;stroke:red;stroke-width:3;opacity:0.5">
              <text
                x="{{annotation.x}}"
                y="{{ annotation.y+annotation.height/2 }}"
                style="stroke:green">
                {{content}}
              </text>
            </g>
            <g grid ng-if="!isLoading"></g>
            <g annotations ng-if="!isLoading"></g>
          </g>
        </g>
      </g>
    </svg>

    <div
        class="btn-group-vertical log-controls animated"
        ng-show="!isLoading"
        ng-class="{
            'isLoading': isLoading,
            'bounceInRight': !isLoading,
            'bounceOutRight': isLoading
        }"
    >
        <button class="btn btn-default" ng-click="togglePan()" ng-show="isAnnotating || hasMouseEvents()">
            <span ng-show="isAnnotating"><span class="glyphicon glyphicon-move"></span> Pan</span>
            <span ng-show="!isAnnotating && hasMouseEvents()"><span class="glyphicon glyphicon-screenshot"></span> Draw</span>
        </button>
        <button class="btn btn-default" ng-click="panZoom.zoomIn()">
            <span class="glyphicon glyphicon-zoom-in"></span> Zoom in
        </button>
        <button class="btn btn-default" ng-click="panZoom.zoomOut()">
            <span class="glyphicon glyphicon-zoom-out"></span> Zoom out
        </button>
        <button class="btn btn-default" ng-click="reset()">
            <span class="glyphicon glyphicon-resize-full"></span> Fit page
        </button>
        <button class="btn btn-default" ng-click="clearAnnotations()">
            <span class="glyphicon glyphicon-trash"></span> Clear
        </button>
        <button class="btn btn-default" ng-click="rotate('-0.1')" ng-mousedown="startLongRotation('-0.1')" ng-mouseup="stopLongRotation()" ng-mousemove="stopLongRotation()">
            <span class="glyphicon glyphicon-repeat mirror"></span> Rotate CCW
        </button>
        <button class="btn btn-default" ng-click="rotate('+0.1')" ng-mousedown="startLongRotation('+0.1')" ng-mouseup="stopLongRotation()" ng-mousemove="stopLongRotation()">
            <span class="glyphicon glyphicon-repeat"></span> Rotate CW
        </button>
    </div>


  </div>
</div>
