<span
    us-spinner
    ng-show="!project"
    class="animated"
    ng-class="{
        'isLoading': !project,
        'fadeIn': !project,
        'fadeOut': project
    }"
></span>

<div
    ng-show="project"
    class="home-content container animated"
    ng-class="{
        'isLoading': !project,
        'fadeIn': project,
        'fadeOut': !project
    }"
>
    <h1>Welcome to<br> Old Weather</h1>
    <p ng-bind="project.introduction"></p>
    <ul class="other-old-weather-links">
        <li><a href="http://whaling.oldweather.org">Go to Old Weather: Whaling</a></li>
        <li><a href="http://classic.oldweather.org">Go to Old Weather: Classic</a></li>
    </ul>
    <div class="buttons">
        <a class="btn btn-orange uppercase get-started" ui-sref="ships-list">Get started</a>
        <button class="btn btn-skeleton white uppercase" ng-click="openHomeVideo();"><span class="glyphicon glyphicon-play"></span> What is Old Weather</button>
    </div>
</div>

<div class="home-project-stats">
    <div class="container">
        <p>Current project statistics</p>
    </div>
    <div class="stats">
        <div class="container">
            <div class="stat col-sm-3">
                <div class="figure">{{ project.retired_subjects_count / project.subjects_count }}%</div>
                <div class="title">Subjects complete</div>
            </div>

            <div class="stat col-sm-3">
                <div class="figure">{{ project.links.subject_sets.length }}</div>
                <div class="title">Total ships</div>
            </div>

            <div class="stat col-sm-3">
                <div class="figure">{{ project.subjects_count }}</div>
                <div class="title">Total log pages</div>
            </div>

            <div class="stat col-sm-3">
                <div class="figure">{{ project.classifiers_count }}</div>
                <div class="title">Active users</div>
            </div>
        </div>
    </div>
</div>
