<div class="modal-header" ng-controller="ConfirmationModalController">
  <div class="modal-title">
    <h3>{{params.message}}</h3>
  </div>
</div>

<div class="modal-footer">
  <button ng-show="{{params.deleteType !== 'row'}}" ng-click="confirm()"          class="btn btn-teal small">Yes</button>
  <button ng-show="{{params.deleteType === 'row'}}" ng-click="deleteAnnotation()" class="btn btn-teal small">Annotation</button>
  <button ng-show="{{params.deleteType === 'row'}}" ng-click="deleteRow()"        class="btn btn-teal small">Row</button>
  <button                                           ng-click="cancel()"           class="btn btn-skeleton teal small">Cancel</button>
</div>
