@import 'nib'

// Colour definitions

// warming orange
$orange = #ff8400

// maritime red
$red = #e15639

// dark teal
$dark-teal = #404040

// deep teal
$deep-teal = #00494d

// lighter deep teal
$deep-teal-lt = #00797f

// shallow teal
$shallow-teal = #00b5be

// Mixins / extensions
$double-border
    border: 5px solid #fff
    box-shadow: 0 0 0 1px #c0c0c0


html
    overflow-y: scroll

body
    position: relative
    font-family: 'Open Sans', sans-serif
    display: flex
    min-height: 100vh
    flex-direction: column
    background-color: $shallow-teal
    background-image: url(../images/home-bg.png), url(../images/home-bg-tile.png)
    background-repeat: no-repeat, repeat-y
    background-size: 100% auto, 100% auto
    background-position: 0 -200px
    &.page-annotate,
    &.page-transcribe
        background-image: none
    &.page-home
        background-image: none
        #site-main
            background-color: $shallow-teal
            background-image: url(../images/home-bg.png)
            background-repeat: no-repeat
            background-size: cover
            background-position: 0 0

.page-annotate,
.page-transcribe
    #site-header,
    #site-main
        position: relative
        padding-right: 300px
        &:after
            content: ''
            position: absolute
            z-index: 1
            height: 100%
            width: 300px
            background: #f2fbfc
            top: 0
            right: 0
    #site-nav
        .navbar-right
            position: absolute
            z-index: 10
            right: -300px + 15px

    .authentication-buttons
        display: none

.workflow-col
    width: 300px
    padding: 0 15px
    position: absolute
    z-index: 10
    top: 0
    right: 0
    color:  #00b5be
    font-size: 14px
    font-weight: 400
    line-height: 20px
    text-align: center
    .workflow-title
        display: block
        margin-bottom: 20px
        font-family: 'Domine', serif
        color:  #00b5be
        font-size: 24px
        font-weight: 400
        line-height: 20px
        text-align: center

    .title
        color:  #00b5be
        font-size: 14px
        font-weight: 700
        line-height: 20px
        text-align: center
        margin-bottom: 20px

    .action
        .buttons
            display: flex
            margin-bottom: 5px
            .btn
                flex: 1
                margin-right: 5px
                &:last-of-type
                    margin-right: 0

    .btn-finish
        margin-bottom: 20px


    .nav-pills
        text-align: left

h1
    font-family: 'Domine', serif

img
    max-width: 100%

.navbar
    border-radius: 0

.container-fluid
    width: 100%

.glyphicon.mirror
    transform: scaleX(-1)

#site-header
    .page-home &
        position: absolute
        z-index: 10
        top: 0
        left: 0
        width: 100%
    .header-bottom
        .container
            padding-top: 25px
            padding-bottom: 40px
        h1
            margin: 0
            color:  #ffffff
            font-size: 24px
            font-weight: 400
            line-height: 20px
            text-align: left
            strong
                font-weight: 700


#site-main
    flex: 1
    position: relative

#site-footer
    .container-wrapper
        &.top
            background: $deep-teal
            color: $shallow-teal
            font-size: 18px
            padding: 36px 0
            text-align: center
            p
                margin-bottom: 30px
            .btn
                border-width: 2px
        &.middle
            background: #003033
            padding: 23px 0
        &.bottom
            background: #00181a
            color: #808080
            font-size: 12px
            padding: 20px 0
            text-align: center
            @media (min-width: 768px)
                text-align: left
            a
                color: #808080
            p
                margin-bottom: 3px
    .zooniverse-logo
        width: 60px
        margin-bottom: 36px
        fill: $shallow-teal

    .zooniverse-projects-list
        h4,
        li a
            font-size: 12px
            color: $shallow-teal
        h4
            font-weight: bold
            line-height: 20px
            margin: 0

    .sharing
        display: flex
        align-items: center
        list-style-type: none
        justify-content: center
        margin-bottom: 0
        margin-top: 10px
        @media (min-width: 768px)
            justify-content: flex-end
            margin-top: 0
        a
            display: block
        a .icon
            height: 20px
            margin-left: 20px
            width: 20px

        a .icon path
            fill: grey

        a:hover .icon path
            fill: #fff

#site-nav
    background: none
    border: 0
    margin: 0
    color: #fff
    .navbar-nav
        > li
            margin-right: 10px
            > a,
            > button
                border: 2px solid transparent
                border-radius: 30px
                color: #fff
                font-size: 14px
                font-weight: 700
                padding: 7px 40px
                &:hover,
                &:focus
                    background-color: rgba(197, 252, 255, 0.25)
        > .active > a,
        > .active > a:hover,
        > .active > a:focus
            background: none
            border-color: #c5fcff
    .navbar-brand
        height: auto
        svg
            fill: #c5fcff
            width: 42px
    .navbar-left,
    .navbar-right
        margin-top: 15px
    .navbar-right
        margin-right: 0
    .user
        display: flex
        line-height: 1
        .text
            padding-top: 12px
            .logout
                color: #fff
                display: block
                font-size: 11px
                margin-top: 4px
                text-align: right
                text-decoration: underline
                &:hover
                    text-decoration: none


        .page-annotate &,
        .page-transcribe &
            .text,
            .logout
                color:  #00b5be
            strong
                color:  #00494d


        .avatar
            border-radius: 40px
            height: 40px
            margin-left: 10px
            width: 40px

.home-content
    padding-bottom: 87px
    padding-top: 87px
    h1,
    p
        max-width: 580px
    h1
        color:  #c5fdff
        font-size: 48px
        font-weight: 700
        line-height: 65px
        margin-bottom: 20px
    p
        color:  #82e5e9
        font-size: 14px
        font-weight: 400
        line-height: 24px
        margin-bottom: 22px

    ul.other-old-weather-links
        list-style: none
        margin-bottom: 20px
        color: #82e5e9
        li
          text-indent: -40px
          &:before
            content: "➢"
            padding-right: 5px
        a
            opacity: 0.90
            text-decoration: none
            color: inherit
            &:hover
              opacity: 1.0
              text-decoration: underline

    .buttons
        max-width: 285px
        .btn
            width: 100%
            display: block
            &.get-started
                margin-bottom: 15px

.home-project-stats
    p
        font-family: 'Domine', serif
        color: rgba(130, 229, 233, 0.5);
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    .stats
        padding: 20px 0
        background: linear-gradient(0deg, #006267 0%, #00797f 100%)
    .stat
        line-height: 1
        .figure
            font-family: 'Domine', serif
            color: #c5fdff;
            font-size: 48px;
            font-weight: 400;
            margin-bottom: 10px
        .title
            color: #404040;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase
            text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.17);

.pre-content-section
    padding: 25px 0
    background: #fff
    color:  #969696
    font-size: 14px
    p
        margin: 0
.content-section
    padding: 80px 0
    background: #ededed

.transcribe-col
    $animation-duration = 1000ms

    min-height: 100vh

    .animated
        animation-duration: $animation-duration

    [us-spinner]
        &.isLoading-add.isLoading-add-active
            animation-delay: $animation-duration

    .image-wrapper,
    .log-controls,
    .questions-panel
        &.isLoading-remove.isLoading-remove-active
            animation-delay: $animation-duration

.log-container
    position: relative
    font-size: 0
    overflow: hidden

    .guides
        pointer-events: none
        position: absolute
        top: 0
        left: 0
        width: 100%
        height 100%
        &:before,
        &:after
            content: ''
            display: block
            background: rgba(#000, 0.8)
            position: absolute
        &:before
            height: 100%
            width: 10px
            left: 20%
        &:after
            width: 100%
            height: 10px
            top: 20%

    .log-controls
        position: absolute
        bottom: 35px
        right: 15px

    .input-area
        width: 100%
        position: absolute
        left: 0
        padding: 0 15px
        transform: translateY(15px)
        > div
            padding: 25px
            border-radius: 4px
            background-color: rgba(255, 255, 255, 0.95)
            box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
        > div > form
            margin-bottom: 15px
        button:not(:first-of-type)
            margin-left: 15px

.log
    max-width: 100%
    width: 100%
    height: 90vh
    image
        cursor: move
    &.annotating
        image, rect
            cursor: crosshair

.annotation
    rect
        cursor: pointer !important
        stroke-width: 3
        stroke: $deep-teal-lt
        fill: rgba($deep-teal-lt, 0.3)
    &.selected
        rect
            stroke: #fff
            fill: rgba(0,0,0,0)
    .cross
        fill: none
        stroke-width: 3
        stroke: #000

.grid-annotation
    rect
        stroke-width: 3
        stroke: $red
        fill: rgba($red, 0.3)
        animation-duration: 2.2s
        animation-fill-mode: both
        animation-iteration-count: infinite
        animation-name: flash

@keyframes flash
    0%, 50%, 100%
        opacity: 1
    25%, 75%
        opacity: 0.5


.questions-panel
    &.animated.questions-complete
        animation-duration: 0

.vertical-center
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

[ships-list]
    margin: 0 -5px
    .grid-sizer,
    .item
        width: 32%
        @media screen and (max-width: 950px)
            width: 49%
        @media screen and (max-width: 700px)
            width: 100%
    .gutter-sizer
        width: 2%
        @media screen and (max-width: 700px)
            width: 0
    .item
        @extend $double-border
        background-size: cover
        background-position: center center
        background-repeat: no-repeat
        position: relative
        height: 250px
        overflow: hidden
        @extend .vertical-center
        .cover
            position: absolute
            z-index: 1
            top: 0
            left: 0
            width: 100%
            height: 100%
            @extend .vertical-center
            transition: background 150ms linear
        &:hover
            .cover
                background-color: rgba(0, 73, 77, 0.75);
        .content
            text-align: center
            color: #fff
            h3
                color: #fff
                font-family: 'Domine', serif
                font-size: 24px
                font-weight: 400
                line-height: 24px
                text-align: center
                text-transform: uppercase
                text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75)
        .buttons
            width: 50%
            margin: 0 auto
            .btn
                display: block
                margin-bottom: 20px
                &:last-of-type
                    margin-bottom: 0

.modal-dialog
    margin: 100px auto
.modal-backdrop
    background-color: $deep-teal
    &.in
        opacity 0.7

.btn
    border: 0
    font-weight: 700
    padding: 11px 28px
    border: 3px solid transparent
    &.uppercase
        text-transform: uppercase
    &.btn-orange
        border-color: $orange
        background: $orange
        color: #fff
        &:hover,
        &:focus,
        &:active
            border-color: $red
            background: $red
    &.btn-teal
        background: $shallow-teal
        border-color: $shallow-teal
        color: #fff
        &:hover,
        &:focus,
        &:active
            background: $deep-teal-lt
            border-color: $deep-teal-lt
    &.btn-skeleton
        background: none
        &.white
            border-color: #fff
            color: #fff
            &:hover,
            &:focus,
            &:active
                background: #fff
                color: $dark-teal
        &.teal
            color: $shallow-teal
            border-color: $shallow-teal
            background: none
            &:hover,
            &:focus,
            &:active
                color: #fff
                background: $shallow-teal
        &.red
            color: $red
            border-color: $red
            background: none
            &:hover,
            &:focus,
            &:active
                color: #fff
                background: $red

.more-video-modal
    position: absolute
    left: 50%
    bottom: 0
    transform: translate3d(-50%, 150%, 0)

.ship-basicinfo
    .datum
        color: $deep-teal-lt
        margin-bottom: 0
        dt
            font-weight: normal
        &.-name
            dd
                font-family: 'Domine', serif
                font-size: 24px
                font-weight: bold
    .buttons
        text-align: center
        // Corresponds to screen-md-min
        // TODO: import bootstrap-styl, and get this as a variable
        @media (min-width: 992px)
            text-align: right

.ship-basicinfo.-full
    .buttons
        // Corresponds to screen-md-min
        // TODO: import bootstrap-styl, and get this as a variable
        @media (max-width: 992px)
            margin-top: 20px

.img-responsive
    @extend $double-border

.ship-bio
    color: $deep-teal-lt
    h4
        font-weight: bold
        margin-top: 0
        @media (max-width: 768px)
            margin-top: 30px

.logging-in
    padding: 0 15px
    color: #fff

.grid-buttons
    @extend .workflow-col .action .buttons

    .select
        @extend .btn
        @extend .btn.btn-skeleton
        border-radius: 4px
        margin-right: 5px
        flex: 1

    .select.-active
        @extend .btn.btn-orange

    .delete
        @extend .btn
        @extend .btn.btn-skeleton
        @extend .btn.btn-skeleton.red
        border-radius: 4px
        padding: 11px
