@import 'nib'

html
    overflow-y: scroll

body
    display: flex
    min-height: 100vh
    flex-direction: column

img
    max-width: 100%

.navbar
    border-radius: 0

.container-fluid
    width: 100%

.glyphicon.mirror
    transform: scaleX(-1)

#site-main
    padding-bottom: 100px
    flex: 1

#site-footer
    padding-bottom: 50px

.transcribe-col
    $animation-duration = 1000ms

    min-height: 100vh

    .animated
        animation-duration: $animation-duration

    [us-spinner]
        &.isLoading-add.isLoading-add-active
            animation-delay: $animation-duration

    .image-wrapper,
    .log-controls,
    .questions-panel
        &.isLoading-remove.isLoading-remove-active
            animation-delay: $animation-duration

.log-container

    position: relative
    font-size: 0
    overflow: hidden

    .guides
        pointer-events: none
        position: absolute
        top: 0
        left: 0
        width: 100%
        height 100%
        &:before,
        &:after
            content: ''
            display: block
            background: rgba(#000, 0.8)
            position: absolute
        &:before
            height: 100%
            width: 10px
            left: 20%
        &:after
            width: 100%
            height: 10px
            top: 20%

    .log-controls
        position: absolute
        bottom: 35px
        right: 15px

    .input-area
        width: 100%
        position: absolute
        left: 0
        padding: 0 15px
        transform: translateY(15px);
        > div
            padding: 25px
            background: #fff

.log
    background: grey
    max-width: 100%
    width: 100%
    height: 90vh
    image
        cursor: move
    &.annotating
        image, rect
            cursor: crosshair

.annotation
    rect
        cursor: pointer
        fill: rgba(#000, 0.3)
        stroke-width: 1
        stroke: #000
    // &:nth-of-type(2n+1)
    //     rect
    //         fill: rgba(#0000FF, 0.4)

.questions-panel
    &.animated.questions-complete
        animation-duration: 0

[ships-list]
    margin: 0 -5px
    .grid-sizer,
    .item
        width: 25%
        @media screen and (max-width: 1200px)
            width: 33%
        @media screen and (max-width: 950px)
            width: 50%
        @media screen and (max-width: 700px)
            width: 100%
    .item
        background-size: cover
        background-position: center center
        position: relative
        border: 5px solid #fff
        display: block
        height: 250px
        overflow: hidden
        .cover,
        .gradient
            position: absolute
            z-index: 1
            top: 0
            left: 0
            width: 100%
            height: 100%
            display: block
        .cover
            background-color: rgba(38,38,38,0.25)
            transition: background 150ms linear
        &:hover
            .cover
                background-color: rgba(38,38,38,0.75)
        .gradient
            background-image: linear-gradient(top, rgba(#333, 0.8), rgba(#333, 0))
        .content
            text-align: center
            position: absolute
            z-index: 2
            top: 0
            left: 0
            width: 100%
            height: 100%
            color: #fff
            h3
                color: #fff
        .buttons
            position: absolute
            bottom: 10px
            width: 100%
