<g class="grid">
    <g annotation="a" class="grid-annotation" ng-repeat="a in grid() track by a._id | orderBy:'y'" ng-class="{'selected': a.selected}">
        <rect
            ng-attr-transform="{{ 'rotate(' + (a.rotation * -1) + ')'}}"
            ng-attr-width="{{ a.width }}"
            ng-attr-height="{{ a.height }}"
            ng-attr-x="{{ a.x }}"
            ng-attr-y="{{ a.y }}"
            rx="5"
            ry="5"
            type="{{ a.type }}"
            ng-if="a.type !== 'row'"
        ></rect>
    </g>
</g>
